.logo {
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 32px 32px 12px 32px;
    flex-shrink: 0;
}
.title {
    margin: 32px 32px 12px 32px;
    flex-shrink: 0;
    border:solid 1px var(--field-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    opacity: .4;
    border-radius: 4px;
}

@media all and (max-width: 700px) {
    .logo, .title {margin-right: 90px;}
}

.menuButton {
    display: flex;
    height: 46px;
    justify-content: center;
    align-items: center;
    padding: 1px 24px 1px 18px;
    text-decoration: none;
    font-size: var(--text-font-size);
    color: var(--font-color);
    border:solid 1px var( --button-border-color);
    border-radius: var( --border-radius);
    background-color: var(--background-color);
    cursor: pointer;
    outline: none;
    transition: 0s;
    white-space: nowrap;
    font-weight: var( --text-font-weight);
    &:hover {
        height: 46px;
        padding: 0 23px 0 17px !important;
        border-width:2px;
        transition: 0;
        color: var(--font-color);
    }
    &:active {
        background-color: var(--button-border-color);
        color: var(--background-color);
        border-color: var(--button-border-color);
        a {
            color: var(--background-color) !important;
        }
    }
    &.accent {
        border-color:var( --accent-color);
        background-color: var(--accent-color);
        color: (var(--button-accent-color));
        a {
            color: (var(--button-accent-color));
            &:hover {
                color: (var(--button-accent-color));
            }
        }
        &:hover:not(.disabled) {
            background-color: var(--secondary-accent-color);
            color: var(--button-accent-color) !important;
            border-color: var(--secondary-accent-color);
        }
        &:active:not(.disabled) {
            background-color: var(--font-color) !important;
            color: var(--background-color) !important;
            border-color: var(--font-color) !important;
            a {
                color: (var(--background-color));
                &:hover {
                    color: (var(--background-color));
                }
            }
        }
    }
    a {
        margin: 0;
        &:hover {
            color: var(--font-color);
            transition: 0s;
        }
        color: var(--font-color);
        text-decoration: none !important;
        transition: 0s;
    }
}

.show_mobile_menu {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 18px;
    top: 18px;
    z-index: 190;
    &:before {
        font-family: "directual-icons";
        content: "\e940";
        font-size: 50px;
        opacity: .5;
    }
}

@media all and (min-width: 700px) { 
    .show_mobile_menu {
        display: none;
    }
}

.hide_mobile_menu {display: none;}

@media all and (max-width: 700px) { 
    .hide_mobile_menu {
        position: absolute;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 60px;
        top:18px;
        &:before {
            font-family: 'directual-icons';
            content: "\e918";
            font-size: 50px;
            opacity: .5;
        }
    }
}

.mainmenu {
    flex-shrink: 0;
    overflow: auto;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    border-right: solid 1px var(--background-contrast-color);
    max-width: 350px;
    height: 100%;
    .list {
        flex-grow: 2;
    }
    .menuFooter {
        padding-bottom: 48px;
        padding-left: 24px;
        padding-right: 24px;
        .menuFooterButton {
            padding-top: 24px;
            display: flex;
        }
    }
}

@media all and (max-width: 700px) { 
    .mainmenu {
        position: absolute;
        right: 0;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        z-index: 200;
        transform: translateX(100%);
        transition: .4s;
        transition-timing-function: cubic-bezier(.81,.12,.55,1.4);
        padding-right: 40px;
        .menuFooter {
            padding-bottom: 24px;
        }
        &.show {
            transform: translateX(40px);
            transition: .6s;
            transition-timing-function: cubic-bezier(.81,.12,.55,1.4);
        }
    }
}

.subheader {
    color: var(--font-color);
    margin:36px 24px 12px 32px;
    font-size: var(--text-small-size);
    font-weight: var(--strong-font-weight)
}

@media all and (max-width: 700px) { 
    li.item {
        border-left: solid 3px rgba(0,0,0,0);
        margin-left: 0;
        padding-left: 21px;
        &.active {
            border-right: solid 3px rgba(0,0,0,0);
            border-left: solid 3px var(--accent-color);
        }
    }
}

.item {
    margin:24px 0 24px 24px;
    padding-right: 24px;
    opacity: .6;
    border-right: solid 3px rgba(0,0,0,0);
    transition: .3s;
    min-width: 200px;
    display: flex;
    align-items: center;
    &:before {
        font-size: 36px !important;
        opacity: 1;
        margin-right: 12px;
    }
    &:hover {
        opacity: 1;
    }
    &.disabled {
        opacity: .25 !important;
        a {
            cursor: default;
            opacity: 1;
        }
    }
    &.active {
        color:var(--font-color);
        opacity: 1;
        transition: .3s;
        border-right: solid 3px var(--accent-color);
        &:before {
            color: var(--accent-color);
            opacity: 1;
        }
    }
    cursor: pointer;
    a {
        display: block;
        text-decoration: none;
        flex-grow: 2;
        color: var(--font-color) !important;
        padding:10px 0;
    }
}