.logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  flex-shrink: 0;
}
.logo,
.title {
  margin: 32px 32px 12px 32px;
  height: 50px;
  display: block;
}
.title {
  flex-shrink: 0;
  border: solid 1px var(--menu-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  border-radius: 4px;
}
@media all and (max-width: 1020px) {
  .horMainmenu {
    display: none !important;
  }
  .logo,
  .title {
    margin-right: 90px;
  }
}
.menuButton {
  display: flex;
  height: 46px;
  justify-content: center;
  align-items: center;
  padding: 1px 24px 1px 18px;
  text-decoration: none;
  font-size: var(--text-font-size);
  color: var(--button-text);
  border: solid 1px var(--button-border);
  border-radius: var(--border-radius);
  background-color: var(--button-bgr);
  cursor: pointer;
  outline: none;
  transition: 0s;
  white-space: nowrap;
  font-weight: var(--text-font-weight);
}
.menuButton:hover {
  height: 46px;
  padding: 0 23px 0 17px !important;
  border-width: 2px;
  transition: 0;
  background-color: var(--button-hover-bgr);
  border-color: var(--button-hover-border);
  color: var(--button-hover-text);
}
.menuButton:hover a {
  color: var(--button-hover-text);
}
.menuButton:active {
  background-color: var(--button-active-bgr);
  color: var(--button-active-text);
  border-color: var(--button-active-border);
}
.menuButton:active a {
  color: var(--button-active-text) !important;
}
.menuButton.accent {
  border-color: var(--button-accent-border);
  background-color: var(--button-accent-bgr);
  color: var(--button-accent-text);
}
.menuButton.accent a {
  color: var(--button-accent-text);
}
.menuButton.accent a:hover {
  color: var(--button-accent-hover-text);
}
.menuButton.accent:hover:not(.disabled) {
  background-color: var(--button-accent-hover-bgr);
  color: var(--button-accent-hover-text) !important;
  border-color: var(--button-accent-hover-border);
}
.menuButton.accent:active:not(.disabled) {
  background-color: var(--button-accent-active-bgr) !important;
  color: var(--button-accent-active-text) !important;
  border-color: var(--button-accent-active-border) !important;
}
.menuButton.accent:active:not(.disabled) a {
  color: var(--button-accent-active-text);
}
.menuButton.accent:active:not(.disabled) a:hover {
  color: var(--button-accent-active-text);
}
.menuButton a {
  margin: 0;
  color: var(--button-text);
  text-decoration: none !important;
  transition: 0s;
}
.menuButton a:hover {
  color: var(--button-hover-text);
  transition: 0s;
}
.show_mobile_menu {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 18px;
  top: 18px;
  z-index: 190;
}
.show_mobile_menu:before {
  font-family: 'directual-icons';
  content: '\e940';
  font-size: 50px;
  color: var(--menu-item);
  opacity: 0.5;
}
@media all and (min-width: 1020px) {
  .show_mobile_menu,
  .hideHorizontal {
    display: none !important;
  }
}
.hide_mobile_menu {
  display: none;
}
@media all and (max-width: 1020px) {
  .hide_mobile_menu {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 60px;
    top: 18px;
  }
  .hide_mobile_menu:before {
    font-family: 'directual-icons';
    content: '\e918';
    font-size: 50px;
    opacity: 0.5;
  }
}
.mainmenu {
  flex-shrink: 0;
  overflow: auto;
  background-color: var(--menu-bgr);
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--menu-border-color);
  max-width: 350px;
  height: 100%;
}
.mainmenu .list {
  flex-grow: 2;
  padding: 0;
}
.mainmenu .menuFooter {
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
}
.mainmenu .menuFooter .menuFooterButton {
  padding-top: 24px;
  display: flex;
}
@media all and (max-width: 1020px) {
  .mainmenu {
    position: absolute;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform: translateX(100%);
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.81, 0.12, 0.55, 1.4);
    padding-right: 40px;
  }
  .mainmenu .menuFooter {
    padding-bottom: 24px;
  }
  .mainmenu.show {
    transform: translateX(40px);
    transition: 0;
    transition-timing-function: cubic-bezier(0.81, 0.12, 0.55, 1.4);
  }
}
.subheader {
  color: var(--menu-group);
  margin: 36px 24px 12px 32px;
  font-size: var(--text-small-size);
  font-weight: var(--strong-font-weight);
}
@media all and (max-width: 1020px) {
  li.item {
    border-left: solid 3px rgba(0, 0, 0, 0);
    margin-left: 0;
    padding-left: 21px;
  }
  li.item.active {
    border-right: solid 3px rgba(0, 0, 0, 0);
    border-left: solid 3px var(--menu-item-selected);
  }
}
.item {
  margin: 24px 0 24px 24px;
  padding-right: 24px;
  color: var(--menu-item);
  border-right: solid 3px rgba(0, 0, 0, 0);
  transition: 0;
  min-width: 200px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.item:before {
  font-size: 36px !important;
  opacity: 1;
  margin-right: 12px;
}
.item:hover {
  color: var(--menu-item-hover);
}
.item:hover a {
  color: var(--menu-item-hover);
}
.item.disabled {
  opacity: 0.25 !important;
}
.item.disabled a {
  cursor: default;
  opacity: 1;
}
.item.active {
  color: var(--menu-item-hover);
  opacity: 1;
  transition: 0;
  border-right: solid 3px var(--menu-item-selected);
}
.item.active a {
  color: var(--menu-item-hover);
}
.item.active:before {
  color: var(--menu-item-selected);
  opacity: 1;
}
.item a {
  display: block;
  text-decoration: none;
  flex-grow: 2;
  color: var(--menu-item);
  padding: 10px 0;
}
.horMainmenu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: var(--menu-bgr);
  border-bottom: solid 1px var(--menu-border-color);
  padding: 0 32px;
}
.horMainmenu .logo,
.horMainmenu .title {
  margin: 18px 24px 18px 0;
  height: 42px;
  min-width: 200px;
}
.horMainmenu .horMenuItems {
  display: flex;
  flex-grow: 2;
  align-items: flex-end;
  justify-content: flex-end;
}
.horMainmenu .horMenuProfile {
  height: 100%;
  display: flex;
  align-items: center;
}
.itemHor {
  border-bottom: solid 3px rgba(0, 0, 0, 0);
  color: var(--menu-item);
  margin-right: 26px;
  cursor: pointer;
}
.itemHor:before {
  font-size: 36px !important;
  opacity: 1;
  margin-right: 0px;
  margin-left: -4px;
}
.itemHor:hover {
  color: var(--menu-item-hover);
}
.itemHor.disabled {
  opacity: 0.25 !important;
}
.itemHor.disabled a {
  cursor: default;
  opacity: 1;
}
.itemHor.active {
  color: var(--menu-item-hover);
  opacity: 1;
  transition: 0;
  border-bottom: solid 3px var(--menu-item-selected);
}
.itemHor.active:before {
  color: var(--menu-item-selected);
  opacity: 1;
}
.itemHor a,
.itemHor:before {
  padding-bottom: 16px;
}
.itemHor a {
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: var(--menu-item);
}
.bdd {
  position: relative;
  display: inline-block;
}
.bdd .dropdownMenu {
  position: absolute;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.6, 0.44, 0.72, 1.45);
  opacity: 0;
  margin-top: -16px;
  z-index: -1;
  border: solid 1px var(--button-border);
  border-radius: var(--border-radius);
  background-color: var(--button-bgr);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}
.bdd .dropdownMenu.show {
  z-index: 300;
  opacity: 1;
  margin-top: -6px;
}
.bdd .dropdownMenu .button {
  border-color: rgba(0, 0, 0, 0) !important;
  border-radius: 0;
  margin: 0;
}
.bdd .dropdownMenu .button:hover {
  background-color: var(--button-dropdown-hover-bgr);
}
.bdd .dropdownMenu .button:active {
  background-color: var(--button-active-bgr);
  color: var(--button-active-text) !important;
}
.bdd .dropdownMenu hr {
  border: none;
  border-color: rgba(0, 0, 0, 0);
  border-top: solid 1px var(--button-border);
  opacity: 0.5;
  margin: 6px 12px;
}
.ddMenu .itemHor {
  border: none !important;
  margin-left: 10px;
}
.ddMenu .itemHor.active {
  border: none;
}
.ddMenu .itemHor a,
.ddMenu .itemHor:before {
  padding: 10px 0;
}
.horMenuProfileButton {
  border-color: rgba(0, 0, 0, 0) !important;
}
.horMenuProfileButton:hover {
  background-color: var(--button-dropdown-hover-bgr);
}
