.logo {
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 32px 32px 12px 32px;
    flex-shrink: 0;
}
.title {
    margin: 32px 32px 12px 32px;
    flex-shrink: 0;
    border:solid 1px var(--field-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    opacity: .4;
    border-radius: 4px;
}

@media all and (max-width: 415px) {
    .logo, .title {margin-right: 90px;}
}

.show_mobile_menu {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 18px;
    top: 18px;
    z-index: 101;
    &:before {
        font-family: "directual-icons";
        content: "\e940";
        font-size: 50px;
        opacity: .5;
    }
}

@media all and (min-width: 415px) { 
    .show_mobile_menu {
        display: none;
    }
}

.hide_mobile_menu {display: none;}

@media all and (max-width: 415px) { 
    .hide_mobile_menu {
        position: absolute;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 60px;
        top:18px;
        &:before {
            font-family: 'directual-icons';
            content: "\e918";
            font-size: 50px;
            opacity: .5;
        }
    }
}

.mainmenu {
    flex-shrink: 0;
    overflow: auto;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    border-right: solid 1px var(--background-contrast-color);
    max-width: 350px;
    height: 100%;
    //z-index: 200;
    .list {
        padding-bottom: 32px;
    }
}

@media all and (max-width: 415px) { 
    .mainmenu {
        position: absolute;
        right: 0;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        z-index: 200;
        transform: translateX(100%);
        transition: .4s;
        transition-timing-function: cubic-bezier(.81,.12,.55,1.4);
        padding-right: 40px;
        &.show {
            transform: translateX(40px);
            transition: .6s;
            transition-timing-function: cubic-bezier(.81,.12,.55,1.4);
        }
    }
}

.subheader {
    color: var(--font-color);
    margin:36px 24px 12px 32px;
    font-size: var(--text-small-size);
    font-weight: var(--strong-font-weight)
}

@media all and (max-width: 415px) { 
    li.item {
        border-left: solid 3px rgba(0,0,0,0);
        margin-left: 0;
        padding-left: 21px;
        &.active {
            border-right: solid 3px rgba(0,0,0,0);
            border-left: solid 3px var(--accent-color);
        }
    }
}

.item {
    margin:24px 0 24px 24px;
    padding-right: 24px;
    opacity: .6;
    border-right: solid 3px rgba(0,0,0,0);
    transition: .3s;
    min-width: 200px;
    display: flex;
    align-items: center;
    &:before {
        font-size: 36px !important;
        opacity: 1;
        margin-right: 12px;
    }
    &:hover {
        opacity: 1;
    }
    &.disabled {
        opacity: .25 !important;
        a {
            cursor: default;
            opacity: 1;
        }
    }
    &.active {
        color:var(--font-color);
        opacity: 1;
        transition: .3s;
        border-right: solid 3px var(--accent-color);
        &:before {
            color: var(--accent-color);
            opacity: 1;
        }
    }
    cursor: pointer;
    a {
        display: block;
        text-decoration: none;
        flex-grow: 2;
        color: var(--font-color) !important;
        padding:10px 0;
    }
}

.backdrop {
    position: fixed;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 100;
}