.input_wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.input_wrapper label {
  font-size: var(--text-small-size);
  opacity: 0.7;
  padding-bottom: 6px;
  font-weight: var(--strong-font-weight);
}
.input_wrapper .field_wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}
.input_wrapper .field_wrapper .input_icon_wrapper {
  opacity: 0.5;
  position: absolute;
  left: 8px;
  top: 8px;
}
.input_wrapper .field_wrapper .input_icon_wrapper:before {
  font-size: 32px;
}
.input_wrapper .field_wrapper .clear {
  position: absolute;
  opacity: 0.3;
  cursor: pointer;
  transition: 0.5s;
  top: 9px;
  right: 9px;
}
.input_wrapper .field_wrapper .clear:before {
  font-size: 32px;
}
.input_wrapper .field_wrapper .clear:hover {
  opacity: 0.8;
  transition: 0.5s;
}
.input_wrapper .field_wrapper .plus {
  position: absolute;
  opacity: 0.3;
  cursor: pointer;
  transition: 0.5s;
  top: 1px;
  right: 10px;
}
.input_wrapper .field_wrapper .plus:before {
  font-size: 30px;
}
.input_wrapper .field_wrapper .plus:hover {
  opacity: 0.9;
  transition: 0.5s;
}
.input_wrapper .field_wrapper .minus {
  position: absolute;
  opacity: 0.3;
  cursor: pointer;
  transition: 0.5s;
  top: 20px;
  right: 10px;
}
.input_wrapper .field_wrapper .minus:before {
  font-size: 30px;
}
.input_wrapper .field_wrapper .minus:hover {
  opacity: 0.9;
  transition: 0.5s;
}
.input_wrapper textarea {
  resize: none;
}
.input_wrapper textarea.field {
  height: auto !important;
  padding: 18px 36px 18px 18px;
}
.input_wrapper textarea.field:hover:not(.disabled),
.input_wrapper textarea.field:focus:not(.disabled),
.input_wrapper textarea.field:active:not(.disabled),
.input_wrapper textarea.field.ok,
.input_wrapper textarea.field.error,
.input_wrapper textarea.field.warning {
  padding: 17px 35px 17px 17px;
}
.input_wrapper textarea.disabled {
  background-color: var(--table-border-color);
  cursor: not-allowed;
  color: var(--field-border-color);
}
.input_wrapper .field {
  outline: none;
  border: solid 1px var(--field-border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  display: flex;
  height: 46px;
  align-items: center;
  padding: 1px 40px 1px 18px;
  color: var(--font-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input_wrapper .field[type=number] {
  text-align: right;
}
.input_wrapper .field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input_wrapper .field.icon {
  padding-left: 40px;
}
.input_wrapper .field.disabled {
  background-color: var(--table-border-color);
  cursor: not-allowed;
  color: var(--field-border-color);
}
.input_wrapper .field.error {
  border-width: 2px;
  height: 46px;
  padding: 0 39px 0 17px;
  border-color: var(--error-color);
}
.input_wrapper .field.error.icon {
  padding-left: 39px;
}
.input_wrapper .field.warning {
  border-width: 2px;
  height: 46px;
  padding: 0 39px 0 17px;
  border-color: var(--alert-color);
}
.input_wrapper .field.warning.icon {
  padding-left: 39px;
}
.input_wrapper .field.ok {
  border-width: 2px;
  height: 46px;
  padding: 0 39px 0 17px;
  border-color: var(--ok-color);
}
.input_wrapper .field.ok.icon {
  padding-left: 39px;
}
.input_wrapper .field:hover:not(.disabled) {
  border-width: 2px;
  height: 46px;
  padding: 0 39px 0 17px;
}
.input_wrapper .field:hover:not(.disabled).icon {
  padding-left: 39px;
}
.input_wrapper .field:focus:not(.disabled) {
  border-width: 2px;
  height: 46px;
  padding: 0 39px 0 17px;
  border-color: var(--accent-color);
}
.input_wrapper .field:focus:not(.disabled).icon {
  padding-left: 39px;
}
.input_wrapper .field:active:not(.disabled) {
  height: 46px;
  padding: 0 39px 0 17px;
  border: solid 2px var(--font-color);
}
.input_wrapper .field:active:not(.disabled).icon {
  padding-left: 39px;
}
.input_wrapper .field::placeholder {
  opacity: 0.5;
  color: var(--font-color);
  font-size: var(--text-small-size);
}
.input_wrapper .description {
  font-size: var(--text-small-size);
  opacity: 0.6;
  margin: 3px 0 9px 0px;
}
.input_wrapper .status {
  font-size: var(--text-small-size);
  opacity: 0.7;
  margin: 3px 0 0 12px;
}
.input_wrapper .status.ok {
  color: var(--ok-color);
}
.input_wrapper .status.error {
  color: var(--error-color);
}
.input_wrapper .status.warning {
  color: var(--alert-color);
}
.slider_field_wrapper {
  display: flex;
  flex-direction: column;
}
.slider_field_wrapper .slider_values {
  margin-top: 12px;
}
.input_group {
  display: flex;
  justify-content: space-between;
}
.input_group .input_wrapper {
  width: calc(50% - 6px);
}
.numberUnits {
  display: flex;
}
