 .input_wrapper {
    //width: 100%;
    line-height: normal;
    display: flex;
    flex-direction: column;
    font-size: var(--text-font-size);
    //line-height: 1em;
    align-items: stretch;
    label {
        font-size: var(--text-small-size);
        opacity: .7;
        padding-bottom: 6px;
        font-weight: var(--strong-font-weight);
    }
    .field_wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: relative;
        .input_icon_wrapper {
            opacity: .5;
            position: absolute;
            left:8px;
            top:9px;
            &:before {
                font-size:32px;
            }
        }
        .clear {
            position: absolute;
            opacity: .3;
            cursor: pointer;
            transition: .5s;
            top:9px;
            right:9px;
            &:before {
                font-size: 32px;}
            &:hover {
                opacity: .8;
                transition: .5s;
            }
        }
        .plus {
            position: absolute;
            opacity: .3;
            cursor: pointer;
            transition: .5s;
            top:0px;
            right:10px;
            &:before {
                font-size: 30px;}
            &:hover {
                opacity: .9;
                transition: .5s;
            }
        }
        .minus {
            position: absolute;
            opacity: .3;
            cursor: pointer;
            transition: .5s;
            top:16px;
            right:10px;
            &:before {
                font-size: 30px;}
            &:hover {
                opacity: .9;
                transition: .5s;
            }
        }
    }
    textarea {
        resize: none;
        &.field {
            height: auto !important;
            padding: 14px 36px 14px 18px;
            &:hover:not(.disabled), &:focus:not(.disabled), &:active:not(.disabled), &.ok, &.error, &.warning {
            padding: 13px 35px 13px 17px;
            }
        }
        &.disabled {
            background-color: var(--table-border-color);
            cursor: not-allowed;
            color: var(--field-border-color);
        }
        &.code {
            font-family: 'Source Code Pro', monospace;
            font-size: var(--text-small-size);
            line-height: 1.5;
        }
    }
    .field {
        // &[type=number] {
        //     text-align: right;
        // }
        outline: none !important;
        border:solid 1px var( --field-border-color);
        border-radius: var( --border-radius);
        background-color: var(--background-color);
        font-size: var(--text-font-size);
        display: flex;
        height: 44px;
        align-items: center;
        padding: 1px 40px 1px 18px;
        color: var(--font-color);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        &.code {
            font-family: 'Source Code Pro', monospace;
            font-size: var(--text-small-size);
            line-height: 1.5;
        }
        &.icon {
            padding-left: 40px;
        }
        &.disabled {
            //background-color: var(--table-border-color);
            cursor: not-allowed;
            //color: var(--table-border-color);
            padding: 1px 18px 1px 18px;
            opacity: .6;
        }
        &.error {
            border-width: 2px;
            //height: 46px;
            padding: 0 39px 0 17px;
            border-color: var(--error-color);
            &.icon {
                padding-left: 39px;
            }
        }
        &.warning {
            border-width: 2px;
            //height: 46px;
            padding: 0 39px 0 17px;
            border-color: var(--alert-color);
            &.icon {
                padding-left: 39px;
            }
        }
        &.ok {
            border-width: 2px;
            //height: 46px;
            padding: 0 39px 0 17px;
            border-color: var(--ok-color);
            &.icon {
                padding-left: 39px;
            }
        }
        &:hover:not(.disabled) {
            border-width: 2px;
            //height: 46px;
            padding: 0 39px 0 17px;
            &.icon {
                padding-left: 39px;
            }
        }
        &:focus:not(.disabled) {
            border-width: 2px;
            //height: 46px;
            padding: 0 39px 0 17px;
            border-color: var(--accent-color);
            &.icon {
                padding-left: 39px;
            }
        }
        &:active:not(.disabled) {
            //height: 46px;
            padding: 0 39px 0 17px;
            border: solid 2px var(--font-color);
            &.icon {
                padding-left: 39px;
            }
        }
        &::placeholder {
            opacity:.5;
            color: var(--font-color);
            font-size: var(--text-small-size);
        }
    }
    .description {
        font-size: var(--text-small-size);
        opacity: .6;
        margin: 3px 0 9px 0px;
    }
    .status {
        font-size: var(--text-small-size);
        opacity: .7;
        margin: 3px 0 0 12px;
        &.ok {
            color:var(--ok-color);
        }
        &.error {
            color:var(--error-color);
        }
        &.warning {
            color:var(--alert-color);
        }
    }
 }

 .slider_field_wrapper {
     display: flex;
     flex-direction: column;
     .slider_values {
         margin-top: 12px;
     }
 }

 .input_group {
     display: flex;
     flex-grow: 2;
     justify-content: space-between;
     .input_wrapper {
         width: calc(50% - 6px);
     }
 }

 .fieldUnitsWrapper {
     padding-right: 30px;
     position: relative;
     .unitName {
        position: absolute;
        left: 100%;
        margin-left: -24px;
        top:14px;
        opacity: .6;
     }
 }

 .checkbox_wrapper {
     padding: 4px 0;
 }