.radio {
  outline: none !important;
}
.radio .radio_flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.radio.disabled label {
  cursor: not-allowed;
  color: var(--field-border-color);
}
.radio.disabled input[type=radio] {
  cursor: not-allowed;
  border: solid 1px var(--field-border-color);
}
.radio.disabled input[type=radio]:hover {
  border: solid 1px var(--field-border-color);
}
.radio.disabled input[type=radio]:checked {
  border: solid 4px var(--accent-color);
  opacity: 0.5;
}
.radio .radioImages {
  display: flex;
  flex-wrap: wrap;
  padding-top: 6px;
}
.radio .radioImages label {
  background-color: var(--background-color);
  border: solid 1px var(--background-contrast-color);
  padding: 12px;
  margin: 0 12px 12px 0;
  width: 146px;
  display: block;
  height: auto;
  border-radius: var(--border-radius);
  font-size: var(--text-small-size);
}
.radio .radioImages label .label {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}
.radio .radioImages label img {
  display: block;
  width: 100%;
  max-width: 130px;
  margin: 0 auto 12px auto;
}
.radio label {
  display: flex;
  font-size: var(--text-font-size);
  align-items: center;
  height: 32px;
  opacity: 1 !important;
  font-weight: var(--text-font-weight) !important;
  cursor: pointer;
}
.radio label:hover input[type=radio] {
  border: solid 4px var(--field-border-color);
}
.radio label input[type=radio] {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: solid 1px var(--field-border-color);
  margin: 6px 11px 6px 1px;
  outline: none !important;
}
.radio label input[type=radio]:checked {
  border: solid 4px var(--accent-color);
}
.radio label input[type=radio]:active {
  border: solid 4px var(--font-color);
}
