.sww {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 8px;
}
.sww .title {
  font-size: var(--h3-font-size);
}
.sww .title.icon {
  display: flex;
  opacity: 0.3;
  flex-direction: column;
}
.sww .title.icon:before {
  font-size: calc(var(--h1-font-size) * 1.5);
}
