.comments .commentsHeader {
  margin-bottom: 12px;
}
.comments .commentsHeader h3 {
  position: relative;
  display: inline-block;
  padding-top: 5px;
}
.comments .commentsHeader h3 .commentsCounter {
  position: absolute;
  top: 0px;
  left: calc(100% + 5px);
  font-size: var(--text-small-size);
  background-color: var(--cards-notification);
  border-radius: 40%;
  padding: 3px 4px;
  color: var(--cards-notification-text);
}
.comments .commentFileUpload {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 10px;
}
.comments .commentsAdditionslControls {
  margin-right: 12px;
}
.comments .commentsAddPanel {
  display: flex;
  align-items: center;
  margin-top: 6px;
  flex-wrap: wrap;
  gap: 6px 6px;
  justify-content: flex-end;
}
.comments .commentsAddPanel .commentActions {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
}
.comments .commentsAddPanel .commentActions.active {
  color: #058efc;
  opacity: 1;
}
.comments .commentsAddPanel .commentActions:hover {
  opacity: 1;
}
.comments .commentsList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px 12px;
  margin-top: 12px;
}
.comments .childComments {
  margin-left: 22px;
  margin-top: 12px;
}
.comments .commentWrapper {
  background-color: var(--cards-bgr);
  border-radius: var(--border-radius);
  border: solid 1px var(--cards-border);
  padding: 22px;
  align-items: flex-start;
  display: flex;
}
.comments .commentWrapper .commentVote {
  flex-shrink: 0;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.comments .commentWrapper .commentVote div {
  width: 34px;
  font-size: var(--text-small-size);
  padding: 5px 0;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  background-color: var(--table-borders);
}
.comments .commentWrapper .commentVote div.commentVoteUp {
  border-radius: 12px 12px 0 0;
  cursor: pointer;
}
.comments .commentWrapper .commentVote div.commentVoteUp:hover {
  background-color: var(--table-raw-hover);
}
.comments .commentWrapper .commentVote div.commentVoteDown {
  border-radius: 0 0 12px 12px;
  cursor: pointer;
}
.comments .commentWrapper .commentVote div.commentVoteDown:hover {
  background-color: var(--table-raw-hover);
}
.comments .commentWrapper .commentBody {
  display: flex;
  flex-direction: column;
  gap: 12px 0;
}
.comments .commentWrapper .commentParent {
  font-size: var(--text-small-size);
  opacity: 0.5;
}
.comments .commentWrapper .commentBodyHeader {
  display: flex;
  align-items: center;
  gap: 0 10px;
  font-size: var(--text-small-size);
}
.comments .commentWrapper .commentBodyHeader .commentBodyHeaderUserpic {
  width: 30px;
  flex-shrink: 0;
  height: 30px;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: solid 2px var(--table-borders);
}
.comments .commentWrapper .commentBodyHeader .commentBodyHeaderUserpic img {
  max-width: 100%;
  max-height: 100%;
}
.comments .commentWrapper .commentBodyHeader .commentBodyHeaderName {
  font-weight: bold;
}
.comments .commentWrapper .commentBodyHeader .commentBodyHeaderDate {
  opacity: 0.5;
}
.comments .commentWrapper .commentFileLink {
  font-size: var(--text-small-size);
}
.comments .commentWrapper .commentBodyFiles {
  display: flex;
}
.comments .commentWrapper .commentBodyFooter {
  display: flex;
}
.comments .commentWrapper .commentBodyFooter .commentReplyButton {
  font-size: var(--text-small-size);
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
}
.comments .commentWrapper .commentBodyFooter .commentReplyButton:hover {
  opacity: 1;
}
