.chat {
  display: flex;
  border: solid 1px var(--cards-border);
  background-color: var(--layout-secondary-bgr);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.chat_contacts {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  width: 220px;
  flex-shrink: 0;
  border-right: solid 1px var(--cards-border);
  position: relative;
}
.chat_contacts .drag_handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  z-index: 5;
  width: 4px;
  opacity: 0;
  cursor: col-resize;
  transition: 0.5s;
}
.chat_contacts .drag_handle:hover {
  background-color: var(--layout-secondary-bgr);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat_contacts .drag_handle:hover:after {
  font-family: 'directual-icons';
  position: absolute;
  transform: translateY(-50%);
  content: '\e923';
  font-size: 32px;
  opacity: 0.5;
}
.chat_contacts .chat_contact {
  display: flex;
  gap: 12px;
  border-radius: calc(var(--border-radius) / 2);
  padding: 4px 12px 4px 4px;
  cursor: pointer;
  transition: 0.5s;
}
.chat_contacts .chat_contact:hover {
  background-color: var(--table-raw-hover);
}
.chat_contacts .chat_contact .chat_contact_avatar {
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: solid 2px var(--table-borders);
}
.chat_contacts .chat_contact .chat_contact_avatar img {
  max-width: 100%;
  max-height: 100%;
}
.chat_contacts .chat_contact .chat_contact_text {
  display: flex;
  align-items: center;
  font-size: var(--text-small-size);
  overflow: hidden;
}
.chat_contacts .chat_contact .chat_contact_text .chat_contact_name {
  margin: 0;
  padding: 0;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat_contacts .chat_contact.selected {
  background-color: var(--menu-item-selected-bgr);
  color: var(--menu-item-selected);
}
.chat_messages_blank {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat_contacts_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat_contacts_list {
  flex-grow: 2;
  overflow: auto;
}
.chat_messages_header {
  background-color: var(--layout-secondary-bgr);
  padding: 2px 12px 2px 8px;
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat_messages_header .expand_button {
  opacity: 0.3;
  cursor: pointer;
  transition: 0.5s;
  margin-left: -5px;
}
.chat_messages_header .expand_button:hover {
  opacity: 0.6;
}
.chat_messages_header .header_left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.chat_message_outer_wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.chat_messages_wrapper {
  background-color: var(--layout-bgr);
  overflow: inherit;
  display: flex;
  flex-direction: column;
  gap: 0;
  flex-grow: 2;
}
.chat_input_outer_wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 6px 6px 6px;
}
.chat_input_wrapper {
  display: flex;
  gap: 2px;
  align-items: flex-end;
  padding: 0 6px 6px 6px;
}
.chat_input_wrapper .chat_input {
  flex-grow: 2;
  overflow: hidden;
}
.chat_input_wrapper .chat_input_attach {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 8px;
}
.chat_input_wrapper .chat_input_attach.active {
  color: #058efc;
  opacity: 1;
}
.chat_input_wrapper .chat_input_attach:hover {
  opacity: 1;
}
.chat_messages {
  flex-grow: 2;
  overflow: auto;
  gap: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
  justify-content: flex-end;
}
.chat_messages .chat_message_wrapper {
  display: flex;
  margin-right: 40px;
}
.chat_messages .chat_message_wrapper.chat_message_author {
  justify-content: flex-end;
  margin-right: 0;
  margin-left: 40px;
}
.chat_messages .chat_message_wrapper.chat_message_author .chat_message {
  background-color: var(--button-accent-bgr);
  color: var(--button-accent-text);
}
.chat_messages .chat_message {
  background-color: var(--layout-secondary-bgr);
  padding: 8px 12px;
  border-radius: calc(var(--border-radius) / 2);
  font-size: var(--text-small-size);
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
}
.chat_messages .chat_message .chat_message_text pre {
  font-family: var(--main-font-family);
  white-space: break-spaces;
}
