  .code {
      background-color: #333;
      color: #fff;
      font-family: 'Source Code Pro', monospace;
      overflow: hidden;
      margin: 6px 0 0 0;
      height: 0;
      padding:0 12px;
      font-size: var(--text-small-size);
      overflow: auto;
          code {
          padding:12px 0;
          display: block;
      }
      &.show {
        height: auto;
        margin: 6px 0 12px 0;
    }
  }

  .showhide {
    cursor: pointer;
    font-size: var(--text-very-small-size);
    font-family: 'Source Code Pro', monospace;
    &:before {
      font-size: calc(var(--text-very-small-size) * 1.5);
    }
  }