.codepiece {
  margin: 6px 0 24px 0;
  font-size: var(--text-small-size);
}
.codepiece code {
  background: transparent;
}
.showhide {
  cursor: pointer;
  font-size: var(--text-very-small-size);
  font-family: 'Source Code Pro', monospace;
  width: 100px;
}
.showhide:before {
  font-size: calc(var(--text-very-small-size) * 1.5);
}
