 .cardsWrapper {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     margin-top: 12px;
     margin-right: -18px;
     &.emptyTable {
        justify-content: center;
        align-items: center;
        background-color: var(--background-color);
        margin-bottom: 12px;
        border-radius: var(--border-radius);
        margin-right: 0;
     }
     &.loading {
         opacity: .4;
         .card {
             .cardInnerWrapper {
                 cursor: not-allowed;
             }
         }
     }
 }

 
 
 .card {
    margin-bottom:18px;
    margin-right: 18px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
    .details {
        .detailsButton {
            opacity: .5;
            cursor: pointer;
        }
        position: absolute;
        z-index: 100;
        top:12px;
        right: 6px;
        transition: .5s;
        &:hover {
            .detailsButton {
                opacity: 1;}
        }
        .quickMenu {
            position: absolute;
            // height: 100px;
            // width: 100px;
            z-index: 1;
            display: flex;
            flex-direction: column;
            box-shadow: 0 5px 12px rgba(0,0,0,.15);
            top:0;
            right: 100%;
            transition: .3s;
            transform-origin: top right;
            transition-timing-function: cubic-bezier(.6,.44,.72,1.45);
            transform: scale(1);
            opacity: 1;
            border-radius: calc(var(--border-radius)/1.2);
            background-color: var(--background-color);
            border: solid 1px var(--field-border-color);
            &.hide {
                transform: scale(0);
                opacity: 0;
            }
            li {
                flex-shrink: 0;
                padding:8px 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 200px;
                font-size: var(--text-small-size);
                margin:2px;
                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &:before {
                    margin-left: -5px;
                    margin-right: 4px;
                }
                border-radius: var(--border-radius);
                cursor: pointer;
                &:hover {
                    background: var( --secondary-background-color);
                }
                &:active:not(.disabled) {
                    background: var(--font-color);
                    color: var(--background-color);
                    .displayKey {
                        color: var(--button-accent-color);
                    }
                }
            }
        }
    }
    .cardInnerWrapper {
        background-color: var(--background-color);
        border-radius: var(--border-radius);
        border: solid 1px var(--background-contrast-color);
        padding: 1px;
        width: calc(100% - 2px);
        overflow: hidden;
        cursor: pointer;
        position: relative;
        &.borderColor {
            padding: 0;
            border: solid;
            border-width: 2px;
        }
        .color {
            display: block;
            position: absolute;
            content: "";
            height: 100%;
            &.left {
                width: 6px;
            }
            &.fill {
                width: 100%;
            }
        }

        .cardImage {
            background-size: cover;
            background-position: center;
            flex-shrink: 0;
            z-index: 10;
            span {
                display: none;
                flex-direction: column;
                margin-top: -6px;
            }
        }
        &.cover {
            position: relative;
            .cardImage {
                z-index: 1;
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--field-border-color);
            }
            color: #fff;
            text-shadow: 0 0 4px rgba(0,0,0,0.3);
            .cardText {
                background-color: rgba(0,0,0,.4);
                height: 100%;
            }
            .linkText {
                border-color: #fff !important;
                color: #fff !important;
                opacity: .8;
            }
        }
        &.left {
            display: flex;
            .cardImage {
                background-color: var(--field-border-color);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--background-color);
                span {
                    opacity: .5;
                    display: flex;
                }
            }
        }
        &.leftCircle {
            display: flex;
            .cardImage {
                background-color: var(--field-border-color);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--background-color);
                border-radius: 100%;
                margin:12px 0 12px 12px;
                span {
                    opacity: .5;
                    display: flex;
                }
            }
        }
        &.top {
            display: flex;
            flex-direction: column;
            .cardImage {
                background-color: var(--field-border-color);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--background-color);
                span {
                    opacity: .5;
                    display: flex;
                }
            }
        }
        &:hover {
            width: 100%;
            padding: 0;
            border:solid 2px var(--field-border-color);
        }
        &:active {
            width: 100%;
            padding: 0;
            border: solid 2px var(--font-color);
        }
        .cardText {
            padding: 18px 26px 18px 18px;
            display: flex;
            flex-direction: column;
            position: relative;
            flex-grow: 2;
            overflow: hidden;
            //align-items: flex-start;
            align-items: stretch;
            z-index: 2;
            
            .cardHeader {
                white-space: nowrap;
                max-width: 100%;
                display: flex;
                align-items: center;
                .txt {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex-grow: 2;
                }
                .counter {
                    box-shadow: 0 1px 3px rgba(0,0,0,.2);
                    flex-shrink: 0;
                    margin: 0 8px;
                    background: var(--error-color);
                    color: #fff;
                    font-family: var( --main-font-family);
                    font-size: var( --text-font-size);
                    font-weight: var( --text-font-weight);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 16px;
                    height: 28px;
                    border-radius: 32px;
                    padding: 0 6px;
                    margin-top: -8px;
                    &.moveCounter {
                        margin-right: -14px;
                    }
                }
            }
            .cardHeaderComment {
                font-size: var(--text-small-size);
                margin-top: 6px;
                opacity: .6;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .cardBodyText {
                margin-top: 12px;
                width: 100%;
                &.linkText {
                    width: auto;
                }
            }
            .headerArray {
                display: flex;
                flex-wrap: wrap;
                div {
                    flex-shrink: 0;
                }
            }
            .linkText {
                border:solid 1px var(--accent-color);
                color:var(--accent-color);
                padding: 3px 9px;
            }
            .labelText, .linkText {
                margin-right: 4px;
                margin-top: 4px;
                border-radius: calc(var(--border-radius) / 2);
            }
            .labelText {
                color:var(--label-text-color);
                background-color: var(--label-color);
                padding: 4px 9px;
            }
        }
    }
 }

 .firstObjectCard {
    position: absolute;
    top:18px;
    left: 0;
    bottom: 18px;
    right: 18px;
 }





 // CSS GRID:
 .card.list {width: calc(100% - 18px);}

.card.grid.wideDesktop {
    width: calc(25% - 18px);
}

.card.grid.desktop {
    width: calc(33.3% - 18px);
}

.card.grid.tablet {
    width: calc(50% - 18px);
}

.card.grid.mobile {
    width: calc(100% - 18px);
    margin-bottom:12px !important;
}
.card.list.mobile {
    margin-bottom:12px !important;
}
.mobile .leftCircle .cardImage {
    margin: 8px 0 8px 8px !important;
}

.cardsSlider {
    display: flex;
    height: 4px;
    padding:8px 0;
    width: 100%;
    align-items: center;
    .sliderValue {
        padding-left: 6px;
    }
    .line {
        background:var(--table-border-color);
        height: 4px;
        width: 100%;
        border-radius: 6px;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 4px;
        .fill {
            border-radius: 6px;
            height: 4px;
            background: var(--accent-color);
            position: absolute;
            z-index: 2;
        }
    }
}