
     .table_wrapper {
        background-color: var(--background-color);
        padding: 6px;
        border-radius: var(--border-radius);
        overflow: auto; 
        border: solid 1px var(--background-contrast-color);
     
     table {
        min-width: 100%;
        
        td {
            padding: 12px 12px;
            border-top: solid 1px var(--table-border-color)
        }
        thead td
        {
            font-weight: var(--strong-font-weight);
            border:none;
            opacity: .5;
        }
    }
    .pagination {
        border-top: solid 1px var(--table-border-color);
        padding:12px;
        font-size: var(--text-very-small-size);
        display: flex;
        align-items: center;
        div {
            margin-right: 18px;
            opacity: .4;
        }
        button {
            margin-right: 18px;
            font-size: var(--text-very-small-size);
            padding: 2px 6px;
            cursor: pointer;
        }
    }
}
 
 .firstObjectCard {
    position: absolute;
    top:18px;
    left: 0;
    bottom: 18px;
    right: 18px;
 }
 .objectCard {
    position: absolute;
    top:-1px;
    left: 17px;
    bottom: -1px;
    right: -1px;
    // top:48px;
    // left: 48px;
    // bottom: 48px;
    // right: 48px;
    overflow: visible;
    padding:24px 24px 24px 12px;
    border-radius: var(--border-radius);
    border: solid 1px var(--background-contrast-color);
    background-color: var(--background-color);
    z-index: 101;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    .objectCardHeader {
        display: flex;
        align-items: center;
        overflow: hidden;
        h2 {
            overflow: hidden;
            text-overflow: ellipsis;
           // white-space: nowrap;
        }
        .closeObjectCard {
            cursor: pointer;
            margin-right: 12px;
            opacity: .5;
            transition: .5s;
            &:hover {
                opacity: 1;
            }
        }
    }
    .objectCardBody {
        padding:24px 24px 24px 44px
    }
}

.tableTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    h1,h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0 !important;
        transition: .5s;
    }
    .tableActions {
        display: flex;
        button {
            //margin-left: 6px;
        }
        .tableQuickSearchField {
            margin-left: 6px;
        }
    }
}

 @media all and (max-width: 415px) { 
    .firstObjectCard {
        position: absolute;
        top:12px;
        left: -6px;
        bottom: 12px;
        right: 12px;
     }
    .objectCard {
        padding:12px;
        .objectCardBody {
            padding:24px 24px 24px 12px
        }
    }
    div.tableTitle {
        flex-direction: column;
        align-items: stretch;
        h1, h2 {
            max-width: 100%;
            margin-bottom: 12px !important;
        }
    }
 }

 .hidden {
     visibility: hidden;
 }

 