.profileHeader {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  overflow: hidden;
}
.profileHeader .profilePicture {
  background-color: var(--label-color);
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--border-radius);
  margin-right: 12px;
  border: solid 1px var(--field-border-color);
}
.profileHeader .profilePicture .profileImageHolder {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.profileHeader h1 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.profileHeader .noName {
  opacity: 0.3;
}
.profileBody {
  background-color: var(--background-color);
  padding: 24px;
  border-radius: var(--border-radius);
  border: solid 1px var(--background-contrast-color);
}
.logOut {
  margin: 12px 0 18px 0;
}
.socialAcc {
  margin-bottom: 18px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.socialAcc .disconnect {
  font-size: var(--text-small-size);
  padding-top: 2px;
  color: var(--error-color);
  opacity: 0.5;
}
.socialAcc .disconnect:hover {
  opacity: 1;
}
.socialAcc label {
  font-size: var(--text-small-size);
  opacity: 0.7;
  font-weight: var(--headers-font-weight);
  padding-bottom: 8px;
}
.socialAcc .google {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.socialAcc .google .googleAcc {
  margin-right: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.socialAcc .google .googleAcc span {
  overflow: hidden;
  text-overflow: ellipsis;
}
.socialAcc .google .googleAcc:before {
  content: "";
  flex-shrink: 0;
  display: flex;
  height: 18px;
  width: 18px;
  margin-right: 6px;
  background: url(https://api.alfa.directual.com/fileUploaded/directual-site/d2381fee-b864-469a-835d-d8f5bba71f93.svg) center center no-repeat;
  background-size: contain;
}
