.fpsLayout {
    //border: solid 1px slateblue;
    .layoutHeader {
        //border: solid 1px green;
        margin: 0;
        padding-bottom: 12px;
    }
}

.section {
    //border: solid 1px blue;
    display: flex;
}

.column {
    flex-shrink: 0;
    flex-grow: 2;
    //border: solid 1px springgreen;
}


.componentWrapper {
    border: solid 1px darkviolet;
    .componentWidth {
        background-color: coral;
        color: #fff;
    }
}

.error {
    color: #ec6161;
    border:solid 2px #ec6161;
    padding: 10px;
    border-radius: 10px;
}
