.fpsLayout {
  border: solid 1px slateblue;
}
.fpsLayout .layoutHeader {
  margin: 24px 0 0 24px;
  line-height: 1em;
}
.section {
  border: solid 1px blue;
  display: flex;
}
.section.alignCenter {
  margin-left: auto !important;
  margin-right: auto !important;
}
.column {
  flex-shrink: 0;
  flex-grow: 2;
  max-width: 100%;
  border: solid 1px springgreen;
}
.componentWrapper .componentWidth {
  background-color: coral;
  color: #fff;
}
.error {
  color: #ec6161;
  border: solid 2px #ec6161;
  padding: 10px;
  border-radius: 10px;
}
