.fpsLayout .layoutHeader {
  margin: 0;
  padding-bottom: 24px;
  line-height: 1em;
}
.section {
  display: flex;
}
.column {
  flex-shrink: 0;
  flex-grow: 2;
  max-width: 100%;
}
.componentWrapper .componentWidth {
  background-color: coral;
  color: #fff;
}
.error {
  color: #ec6161;
  border: solid 2px #ec6161;
  padding: 10px;
  border-radius: 10px;
}
