 
.dd_mdn {
    color: var(--font-color);
    //border:solid 1px var(--background-contrast-color);
    font-size: var( --text-font-size);
    font-weight: var( --text-font-weight);
    overflow: auto;
    a {
        color: var(--accent-color);
        text-decoration: none;
        &:hover {
            color: var(--secondary-accent-color);
            text-decoration: none;
        }
    }
    blockquote {
        color: var(--font-color);
        border-left: 3px solid var(--table-border-color);
        padding-left: 20px;
        opacity: .6;
        margin:10px 0;
        p {
            margin: 0;
        }
    }
    p {
        margin: 12px 0
    }
    ul {
        padding: 0;
        margin:12px 0 12px 12px;
        li {
            margin: 8px 0 8px 0;
            margin-left: calc(1.2 * var(--text-font-size));
            line-height: calc(1.5 * var(--text-font-size));
            list-style-type: disc; 
        }
    }
    ol {
        padding: 0;
        margin:12px 0 12px 12px;
        li {
            margin: 8px 0 8px 0;
            margin-left: calc(1.2 * var(--text-font-size));
            line-height: calc(1.5 * var(--text-font-size));
            list-style-type: decimal; 
        }
    }
    h1, h2, h3 {
        border:none;
        padding: 0;
    }
    img {
        max-width: 100%;
    }
    h1 { 
        font-family: var( --headers-font-family);
        font-size: var( --h1-font-size);
        font-weight: var(--headers-font-weight);
        margin-bottom: 18px;
    }
    h2 {
        font-family: var( --headers-font-family);
        font-size: var( --h2-font-size);
        font-weight: var(--headers-font-weight);
        margin: 22px 0 12px 0; 
    }
    h3 {
        font-family: var( --headers-font-family);
        font-size: var( --h3-font-size);
        font-weight: var(--headers-font-weight);
        margin: 18px 0 12px 0;
    }
    table {
        margin:18px 0;
        border-collapse: collapse;
        background-color: var(--background-color);
        //border: solid 1px var(--table-border-color);
        //margin:6px;
        th {
            padding: 12px;
        }
        td {
            border-top: solid 1px var(--table-border-color);
            padding: 12px;
        }
    }
}

.mkd_edit {
    display: flex;
    border:solid 1px var(--field-border-color);
    border-radius: var(--border-radius);
    max-height: 99%;
    min-height: 99%;
    overflow: hidden;
    align-items: stretch;
    .editField {
        flex-grow: 2;
        background: var(--background-color);
        .mkd_header {
            height: 32px;
            font-size: var(--text-small-size);
            background-color: var(--background-color);
            display: flex;
            align-items: center;
            color: var(--field-border-color);
            margin:0 18px;
            border-bottom:solid 1px var(--table-border-color);
            * {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .rasporka {
                flex-grow: 2;
            }
        }
        textarea {
            border:none;
            width: calc(100% - 36px);
            height: calc(100% - 76px);
            resize: none;
            color: var(--font-color);
            padding:18px;
            font-family: 'Fira Code', monospace;
            background: transparent;
            outline: none;
            font-size: 14px;
        }
    }
    .preview {
        border-left: solid 1px var(--field-border-color);
        padding-left: 12px;
        flex-grow: 2;
        min-width: 50%;
        max-width: 50%;
        max-height: 100%;
        overflow: auto;
    }
}

// .tip {
//     font-size: var(--text-small-size);
//     opacity: .5;
//     padding: 6px 0 0 0;
// }