.tabsPane {
  display: flex;
  flex-direction: column;
  font-size: var(--text-font-size);
}
.tabsPane.fixedScroll {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.tabsPane.fixedScroll .tabWrapper {
  overflow-y: auto;
  overflow-x: hidden;
}
.tabsMenu {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 18px;
  font-size: var(--text-font-size);
  overflow: auto;
  padding: 0 6px;
}
.tabWrapper {
  font-size: var(--text-font-size);
  display: none;
  border-top: solid 1px transparent;
  transition: 0.5s;
  flex-grow: 2;
  padding: 0 6px;
}
.tabWrapper.current {
  display: block;
}
.tabWrapper.bordered {
  border-top: solid 1px var(--field-border-color);
}
.tabMenuItem {
  font-size: var(--text-font-size);
  padding: 18px 0 16px 0;
  margin-right: 24px;
  border-bottom: solid 2px transparent;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.6;
  white-space: nowrap;
  font-weight: var(--strong-font-weight);
}
.tabMenuItem.current {
  opacity: 1;
  border-bottom: solid 2px var(--accent-color);
}
.tabMenuItem.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
