.tabsPane {
    display: flex;
    flex-direction: column;
    font-size: var(--text-font-size);
    &.fixedScroll {
        display: flex;
        height: 100%;
        flex-direction: column;
        .tabWrapper {
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

.tabsMenu {
    display: flex;
    flex-shrink: 0;
    margin-bottom: 18px;
    font-size: var(--text-font-size);
    overflow: auto;
    padding: 0 6px;
    &.fpsTabs {
        margin: 6px 24px 0 24px; 
    }
}

.tabWrapper {
    font-size: var(--text-font-size);
    display: none;
    border-top:solid 1px transparent;
    transition: .5s;
    flex-grow: 2;
    padding: 0 6px;
    &.singleTab {
        padding:0;
        margin-top:12px;
    }
    &.current {
        display: block;
    }
    &.bordered {
        border-top:solid 1px var(--form-field-border)
    }
}

.tabMenuItem {
    font-size: var(--text-font-size);
    padding: 18px 0 16px 0;
    margin-right: 24px;
    border-bottom: solid 2px transparent;
    cursor: pointer;
    //transition: .5s;
    opacity: .6;
    white-space: nowrap;
    //font-size: var(--text-small-size);
    font-weight: var(--strong-font-weight);
    &.current {
        opacity: 1;
        border-bottom: solid 2px var(--layout-accent);
    }
    &.disabled {
        opacity: .3;
        cursor: not-allowed;
    }
}