.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px 18px;
}
.formSection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.debug {
  color: darkred;
  font-size: 14px;
  background-color: rgba(243, 66, 66, 0);
  padding: 5px;
  border-radius: 4px;
  position: relative;
  border: dashed 2px rgba(130, 56, 56, 0.276);
  transition: background-color 0.3s ease-in-out;
}
.debug.highlight {
  background-color: rgba(231, 28, 28, 0.668);
}
.debug span {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.2;
  font-size: 12px;
  font-weight: bold;
}
.htmlPreview {
  position: relative;
}
.htmlPreview .htmlHidePreview,
.htmlPreview .htmlShowPreview {
  position: absolute;
  right: 0;
  font-size: 10pt;
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
  z-index: 1;
}
.htmlPreview .htmlHidePreview:hover,
.htmlPreview .htmlShowPreview:hover {
  opacity: 1;
}
.form2label {
  font-size: var(--text-small-size);
  opacity: 0.7;
  padding-bottom: 6px;
  font-weight: var(--strong-font-weight);
}
.formStepProgress {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.formStepProgress .stepsNofM {
  font-size: var(--text-small-size);
  opacity: 0.5;
}
.formStepProgress .stepDescription {
  margin-top: 16px;
}
.formStepProgress .progressBar {
  margin: 12px 0 6px 0;
  height: 4px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.formStepProgress .progressBar .progressBarBackground {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--form-field-border);
}
.formStepProgress .progressBar .progressBarFilled {
  height: 100%;
  position: absolute;
  transition: 0.6s;
  top: 0;
  z-index: 2;
  background-color: var(--form-accent);
}
.formStepProgress .stepsHeader {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.formStepProgress .stepsHeader .setpNumber {
  background-color: var(--menu-bgr);
  border-radius: var(--border-radius);
  border-color: var(--menu-border-color);
  border-style: solid;
  font-size: var(--h3-font-size);
  font-weight: var(--headers-font-weight-h3);
  padding: 4px 6px;
  color: var(--menu-item);
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formStepProgress .stepsHeader .setpName {
  font-size: var(--h3-font-size);
  font-weight: var(--headers-font-weight-h3);
}
.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.popup {
  position: relative;
  margin: 100px 0;
  background-color: var(--layout-bgr);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: popupAnimation 0.3s ease;
  max-width: 96vw;
}
.popup .close_popup {
  position: absolute;
  opacity: 0.5;
  cursor: pointer;
  right: 6px;
  top: 6px;
  transition: 0.5s;
  margin: 0;
  z-index: 3;
}
.popup .close_popup:hover {
  opacity: 1;
}
.popup > div {
  max-width: calc(100% - 36px);
  margin: 18px;
  position: relative;
}
@keyframes popupAnimation {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.userList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.userList .userListItem {
  display: flex;
  gap: 10px;
}
.userList .userListItem .userListItemPicture {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userList .userListItem .userListItemPicture img {
  max-width: 100%;
  max-height: 100%;
}
.userList .userListItem .userListIteInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.userList .userListItem .userListItemName {
  font-weight: bold;
}
.userList .userListItem .userListItemPosition {
  opacity: 0.5;
  font-size: var(--text-small-size);
}
.debugConditions {
  border: solid 2px darkcyan;
  padding: 4px;
  flex-grow: 2;
}
.debugConditions.hideDebug {
  background-color: #F6B856;
}
.debugConditions.debugElement {
  border: solid 2px darkorchid;
}
.debugConditions.debugElement.hideElementDebug {
  background-color: #F99090;
}
.debugConditions.debugElement .condDebugDetails {
  border-color: darkorchid;
  color: darkorchid;
}
.debugConditions .condDebugDetails {
  border: solid 1px darkcyan;
  padding: 4px;
  margin: 4px 0 0 0;
  color: darkcyan;
}
.form2Table {
  width: 100%;
  border-collapse: collapse;
}
.form2Table th,
.form2Table td {
  border-bottom: solid 1px var(--form-field-border);
  padding: 4px;
  text-align: left;
}
.TH_column_ACTIONS {
  width: 100px;
}
