.FormSection {
    margin: 32px 0 18px 0;
    display: flex;
    justify-content: center;
    span {
        margin-top: -9px;
        padding:0 9px;
        color: var(--form-field-border);
        font-size: var(--text-small-size);
    }
    .FormSectionLine {
        border-top:solid 1px var(--table-borders);
        flex-grow: 2;
    }
}
.form_header {margin-bottom: 18px;} 

.marginBottom38 {
    margin-bottom: 38px;
}

.hideSection {
    display: none;
}