.FormSection {
  margin: 32px 0 18px 0;
  display: flex;
  justify-content: center;
}
.FormSection span {
  margin-top: -9px;
  padding: 0 9px;
  color: var(--field-border-color);
  font-size: var(--text-small-size);
}
.FormSection .FormSectionLine {
  border-top: solid 1px var(--table-border-color);
  flex-grow: 2;
}
