.tagList {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.tag {
  display: flex;
  align-items: center;
  font-size: var(--text-small-size);
  background-color: var(--label-color);
  color: var(--label-text-color) !important;
  border-radius: 12px;
  padding: 4px 9px;
  margin: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  overflow: hidden;
}
.tag.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.tag.addButton {
  background-color: var(--accent-color);
  color: var(--button-accent-color);
  padding-left: 4px;
}
.tag.addButton:hover:not(.disabled) {
  background-color: var(--secondary-accent-color);
}
.tag.clickable {
  opacity: 0.9;
  cursor: pointer;
}
.tag.clickable:hover {
  opacity: 1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.tag .text {
  overflow: hidden;
  text-overflow: ellipsis;
}
.tag .delete {
  opacity: 0.5;
  cursor: pointer;
  margin-right: -3px;
  flex-shrink: 0;
}
.tag .delete:hover {
  opacity: 1;
}
