 .tagList {
     display: flex;
     flex-wrap: wrap;
     overflow: hidden;
 }

 .tag {
    display: flex;
    align-items: center;
    font-size: var(--text-small-size);
    background-color: var(--label);
    color: var(--label-text);
    &:hover {
        color: var(--label-text);
    }
    border-radius: 12px;
    padding: 4px 9px;
    margin: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    overflow: hidden;
    &.FpsForm2 {
        background-color: transparent;
        border: solid 2px var(--label);
        color: var(--label);
        min-height: 20px;
        &.selected {
            background-color: var(--label);
            color: var(--label-text);
        }
    }
    &.disabled {
        cursor:not-allowed;
        opacity: .3;
    }
    &.addButton {
        background-color: var(--button-accent-bgr);
        color: var(--button-accent-text);
        padding-left: 4px;
        &:hover:not(.disabled) {
            background-color: var(--button-accent-hover-bgr);
            color: var(--button-accent-hover-text);
        }
    }
    &.clickable {
        opacity: .9;
        cursor: pointer;
        //transition: .5s;
        &:hover {
            opacity: 1;
            box-shadow: 0 0 4px rgba(0,0,0,.2);
        }
    }
    .text {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .seleced {
        opacity: .5;
        cursor: pointer;
        //transition: .5s;
        margin-left: -3px;
        flex-shrink: 0;
        &:hover {
            opacity: 1;
        }
    }
    .delete {
        opacity: .5;
        cursor: pointer;
        //transition: .5s;
        margin-right: -3px;
        flex-shrink: 0;
        &:hover {
            opacity: 1;
        }
    }
 }