 

.button {
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    padding: 0 18px;
    text-decoration: none;
    color: var(--font-color);
    border:solid 1px var( --button-border-color);
    border-radius: var( --border-radius);
    background-color: var(--background-color);
    cursor: pointer;
    outline: none;
    transition: 0;
    white-space: nowrap;
    &.disabled {
        cursor: not-allowed;
        opacity: .4;
    }
    &.socialGoogle {
        &:before {
            content: "";
            display: flex;
            height: 18px;
            width: 18px;
            margin-right: 6px;
            background: url('https://api.alfa.directual.com/fileUploaded/directual-site/d2381fee-b864-469a-835d-d8f5bba71f93.svg') center center no-repeat;
            background-size: contain;
        }
    }
    &.accent {
        border-color:var( --accent-color);
        background-color: var(--accent-color);
        color: (var(--button-accent-color));
        &:hover:not(.disabled) {
            background-color: var(--secondary-accent-color);
            color: var(--button-accent-color);
            border-color: var(--secondary-accent-color);
        }
        &:active:not(.disabled) {
            background-color: var(--font-color) !important;
            color: var(--background-color) !important;
            border-color: var(--font-color) !important;
        }
    }
    &.danger {
        &:hover {
            background-color: var(--error-color);
            color: var(--button-accent-color);
            border-color: var(--error-color);
        }
        &:active {
            background-color: var(--font-color) !important;
            color: var(--background-color) !important;
            border-color: var(--font-color) !important;
        }
    }
    &:hover:not(.disabled) {
        padding: 0 17px;
        border-width:2px;
        transition: 0;
    }
    &:active:not(.disabled) {
        background-color: var(--button-border-color);
        color: var(--background-color);
        border-color: var(--button-border-color);
    }
    &.icon {
        &:before {
            font-size: 28px;
            margin-left: -6px;
        }
    }
} 