.cb_wrap {
  display: flex;
}
.cb_wrap .checkbox {
  display: flex;
  align-items: center;
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  opacity: 1;
  cursor: pointer;
}
.cb_wrap .checkbox.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.cb_wrap .checkbox .cb_wrapper {
  position: relative;
  padding-right: 12px;
}
.cb_wrap .checkbox .cb_wrapper.nopadding {
  padding: 0;
}
.cb_wrap .checkbox .cb_wrapper input[type=checkbox] {
  position: absolute;
  height: 1px;
  width: 1px;
  visibility: hidden;
}
.cb_wrap .checkbox .cb_wrapper .pretty_checkbox {
  background-color: var(--background-color);
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  border: solid 1px var(--field-border-color);
  border-radius: 4px;
}
.cb_wrap .checkbox .cb_wrapper .pretty_checkbox.checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.cb_wrap .checkbox .cb_wrapper .pretty_checkbox.checked:before {
  font-size: 22px;
}
.cb_wrap .checkbox:hover:not(.disabled) .cb_wrapper .pretty_checkbox {
  border: solid 2px var(--field-border-color);
  height: 18px;
  width: 18px;
}
.cb_wrap .checkbox:hover:not(.disabled) .cb_wrapper .pretty_checkbox.checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.cb_wrap .checkbox:active:not(.disabled) .cb_wrapper .pretty_checkbox {
  background-color: var(--font-color);
}
.cb_wrap .checkbox:active:not(.disabled) .cb_wrapper .pretty_checkbox.checked {
  background-color: var(--font-color);
  border-color: var(--font-color);
}
.customOptionWrapper {
  margin-top: 8px;
}
