.table_wrapper {
  background-color: var(--background-color);
  padding: 6px;
  border-radius: var(--border-radius);
  overflow: auto;
  border: solid 1px var(--background-contrast-color);
}
.table_wrapper table {
  min-width: 100%;
}
.table_wrapper table tr:hover .expand {
  opacity: 0.5;
}
.table_wrapper table td {
  padding: 12px 12px;
  border-top: solid 1px var(--table-border-color);
}
.table_wrapper table td .previewLink {
  display: inline-block;
  font-size: var(--text-small-size);
  background-color: var(--label-color);
  color: var(--label-text-color);
  border-radius: 4px;
  padding: 2px 4px;
  margin: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.table_wrapper table td .previewLink .noname {
  opacity: 0.5;
}
.table_wrapper table thead th {
  font-weight: var(--strong-font-weight);
  border: none;
  opacity: 0.5;
  text-align: left;
  padding: 12px 12px;
}
.table_wrapper .pagination {
  border-top: solid 1px var(--table-border-color);
  padding: 12px;
  font-size: var(--text-very-small-size);
  display: flex;
  align-items: center;
}
.table_wrapper .pagination div {
  margin-right: 18px;
  opacity: 0.4;
}
.table_wrapper .pagination button {
  margin-right: 18px;
  font-size: var(--text-very-small-size);
  padding: 2px 6px;
  cursor: pointer;
}
.firstObjectCard {
  position: absolute;
  top: 18px;
  left: 0;
  bottom: 18px;
  right: 18px;
}
.objectCard {
  position: absolute;
  top: -1px;
  left: 17px;
  bottom: -1px;
  right: -1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  border: solid 1px var(--background-contrast-color);
  background-color: var(--background-color);
  z-index: 101;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}
.objectCard .objectCardHeader {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  overflow: hidden;
  padding: 24px 24px 12px 12px;
}
.objectCard .objectCardHeader h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.objectCard .objectCardHeader h2.narrowH2 {
  margin-right: 25px;
}
.objectCard .objectCardHeader .closeObjectCard {
  cursor: pointer;
  margin-right: 12px;
  opacity: 0.5;
  transition: 0.5s;
}
.objectCard .objectCardHeader .closeObjectCard:hover {
  opacity: 1;
}
.objectCard .objectCardBody {
  margin: -5px 24px 19px 44px;
  overflow: auto;
  flex-grow: 2;
}
.objectCard .objectCardBody.notabs {
  margin: 12px 24px 24px 44px;
}
.objectCard .objectCardBody.bordered {
  border-top: solid 1px var(--field-border-color);
}
.objectCard .fieldValue {
  display: block;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: pre-line;
}
.objectCard .editLink {
  margin: 12px 3px 0 0;
}
.tableTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  overflow: hidden;
}
.tableTitle .tableTitleWrapper {
  overflow: hidden;
}
.tableTitle h1,
.tableTitle h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0 !important;
  transition: 0.5s;
}
.tableTitle .tableActions {
  display: flex;
}
.tableTitle .tableActions .tableQuickSearchField {
  margin-left: 6px;
}
.tableTitle .tableActions .quickSearchInput {
  width: calc(100% - 82px);
}
@media all and (max-width: 415px) {
  .firstObjectCard {
    position: absolute;
    top: 12px;
    left: -6px;
    bottom: 12px;
    right: 12px;
  }
  .objectCard .objectCardBody {
    margin: -5px 24px 19px 24px;
  }
  .objectCard .objectCardBody.notabs {
    margin: 12px 24px 24px 24px;
  }
}
div.tableTitle.mobile {
  flex-direction: column;
  align-items: stretch;
}
div.tableTitle.mobile h1,
div.tableTitle.mobile h2 {
  max-width: calc(100% - 24px);
}
.tableTitle.mobile .tableActions .tableQuickSearchField {
  margin: 12px 0 0 0;
  width: 100%;
}
.hidden {
  visibility: hidden;
}
.objFieldWrapper {
  margin-bottom: 24px;
}
.objFieldWrapper .label {
  opacity: 0.7;
  font-size: var(--text-small-size);
  display: flex;
  padding-bottom: 6px;
  align-items: center;
  font-weight: var(--strong-font-weight);
}
.objFieldWrapper .label .editPedal {
  margin-left: 6px;
  color: var(--accent-color);
  cursor: pointer;
  font-weight: var(--text-font-weight);
}
.objFieldWrapper .label .editPedal:hover {
  color: var(--secondary-accent-color);
}
.objFieldWrapper .novalue {
  opacity: 0.5;
}
.objFieldWrapper .description {
  font-size: var(--text-small-size);
  opacity: 0.6;
  margin: 3px 0 9px 0px;
  display: block;
}
.objFieldWrapper .linkFieldWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -6px;
}
.objFieldWrapper .linkFieldWrapper.notClickable a {
  cursor: default;
  color: var(--label-text-color);
  background-color: var(--label-color);
  border: none;
}
.objFieldWrapper .linkFieldWrapper a {
  margin: 0px 6px 6px 0;
  border: solid 1px var(--accent-color);
  padding: 3px 9px;
  border-radius: calc(var(--border-radius) / 2);
}
.objFieldWrapper .linkFieldWrapper a:hover {
  border-color: var(--secondary-accent-color);
}
.objFieldWrapper .cardImage {
  background-color: var(--field-border-color);
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 12px;
  position: relative;
}
.objFieldWrapper .cardImage .noPic {
  font-size: var(--text-small-size);
  color: var(--background-color);
  opacity: 0.5;
}
.objFieldWrapper .cardImage .editPic {
  position: absolute;
  background: var(--accent-color);
  opacity: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}
.objFieldWrapper .cardImage .editPic:hover {
  opacity: 0.35;
}
.objFieldWrapper .cardImage .editPic:before {
  color: var(--button-accent-color);
  font-size: 80px;
}
.objFieldWrapper .cardFile {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.objFieldWrapper .cardFile .download {
  background-color: var(--label-color);
  color: var(--label-text-color);
  border-radius: var(--border-radius);
  height: 48px;
  padding: 0 22px 0 16px;
  margin-right: 6px;
}
.titleSearch {
  opacity: 0.6;
}
.subtitle,
.titleSearch {
  height: 40px;
  display: flex;
  align-items: flex-end;
}
.actionsWrapper {
  margin: 12px 0 24px 0;
  display: flex;
  flex-wrap: wrap;
}
.actionsWrapper .actionButton {
  margin: 0 6px 6px 0;
}
.actionsWrapper .actionForm {
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 24px;
}
.objectCard .shareObject {
  position: absolute;
  opacity: 0.15;
  cursor: pointer;
  top: 25px;
  right: 25px;
  transition: 0.5s;
}
.objectCard .shareObject:hover {
  opacity: 0.8;
}
.objectCard .shareObject:before {
  font-size: 36px;
}
