.wrapper {
    height: 100%;
    overflow-x: hidden;
    position: relative;
    display: flex;
}

.content_wrapper {
    background-color: var(--secondary-background-color);
    padding: 32px;
    flex-grow: 2;
    overflow: auto;
}

.content_wrapper h1 {
    margin-bottom: 24px;
}

@media all and (max-width: 415px) { 
    .content_wrapper {
        padding: 24px;
    }
}

.diretualFooter {
    position: absolute;
    background-color: var(--background-color);
    border-top:solid 1px var(--field-border-color);
    padding:5px 8px;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 1000;
    font-size: var(--text-small-size);
    color: var(--field-border-color);
    display: flex;
    justify-content: space-between;
}
.logo {
    display: block;
    opacity: .6;
    transition: .5s;
}
.logo:hover {
    opacity: 1;
}
.logo img{
     height: 15px;  
     display: block; 
}