.wrapper {
    height: 100%;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-grow: 2;
}

.outer_content_wrapper {
    position: relative;
    max-height: 100%;
    overflow: auto;
    flex-grow: 2;
}

.content_wrapper {
    background-color: var(--secondary-background-color);
    padding: 32px 32px 46px 32px;
    flex-grow: 2;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 78px);
    /* height: 100% */
}

.content_wrapper h1 {
    margin-bottom: 24px;
}

.componentWrapper {
    padding-bottom: 32px;
}

/* @media all and (max-width: 415px) { 
    .content_wrapper {
        padding: 24px 24px 46px 24px;
    }
    .componentWrapper {
        margin-bottom: 24px;
    }
} */

.diretualFooter {
    position: fixed;
    background-color: var(--background-color);
    border-top:solid 1px var(--background-contrast-color);
    padding:5px 8px;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 20;
    font-size: var(--text-small-size);
    /* color: var(--field-border-color); */
    display: flex;
    justify-content: space-between;
}
.diretualFooter span.madeon {
    opacity: .3;
}
.diretualFooter a {opacity: .6;}
.diretualFooter a:hover {opacity: 1;}
.logo {
    display: flex;
    opacity: .6;
    transition: .5s;
    height: 15px;
    align-items: center;
    width: 60px;
    justify-content: center;
}
.logo:hover {
    opacity: 1;
}
.logo img{
     height: 30px;
     display: block; 
     transform: scale(0.5)
}