.panel {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 6px 6px;
}
.panel.alignCenter {
  justify-content: center;
}
.panel.alignRight {
  justify-content: flex-end;
}
.panel.border {
  border: solid 1px var(--form-field-border);
  padding: 12px 6px 6px 12px;
  border-radius: var(--border-radius);
}
.panel.border .title {
  left: calc(var(--border-radius) + 4px);
}
.panel.column {
  flex-direction: column;
}
.panel.column button,
.panel.column a {
  margin-right: 0;
}
.panel.with_title {
  padding-top: 16px;
}
.panel .title {
  position: absolute;
  background-color: var(--layout-bgr);
  font-size: var(--text-small-size);
  top: -10px;
  left: 4px;
  padding: 0 3px;
  color: var(--form-field-border);
}
