.option {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.option .optionListButton {
  cursor: pointer;
  opacity: 0.4;
  transition: 0.5s;
  margin-left: -4px;
}
.option .optionListButton:hover {
  opacity: 0.8;
}
.option .optionListInput {
  margin-right: 6px;
  flex-grow: 2;
}
@media all and (max-width: 415px) {
  .optionListInput {
    width: 100px;
  }
}
